<div id="question-wrapper">

  <div id="vote-question-<%= @question.id %>" class='vote'>
    <p id="goddamn"><%= @question.count_votes %></p>
    <div class="vote-wrapper">
      <a href='/votes/new' id="question-vote-<%= @question.id %>-up" class="Question up-vote"></a>
      <a href='/votes/new' id="question-vote-<%= @question.id %>-down" class="Question down-vote"></a>
    </div>
  </div>

  <div id="question-<%= @question.id %>">
    <h1><%= @question.title %></h1>
    <p class="indent"><%= @question.text %></p>
    <p class="indent">- <%= @question.user.name %></p>
  </div>

  <% @question.comments.each do |comment|%>
    <div id="vote-comment-<%= comment.id %>" class='vote'>
      <p><%= comment.count_votes %></p>

      <div class="vote-wrapper">
        <div class="up-vote"></div>
        <div class="down-vote"></div>
      </div>
    </div>

    <div id="comment-<%= comment.id %>" class="comment">
      <p><%= comment.text %></p>
      <p class="indent">- <%= comment.user.name %></p>
    </div>
  <% end %>

  <div id="answer-button">
    <form action="/questions/<%= @question.id %>/answers/new" method="get">
      <input type="submit" value="Answer this question">
    </form>
  </div>

  <hr>

  <% @answers.each do |answer| %>
    <div class="answer-wrapper">
      <div id="vote-answer-<%= answer.id %>" class='vote'>
        <p><%= answer.count_votes %></p>

        <div class="vote-wrapper">
          <div class="up-vote"></div>
          <div class="down-vote"></div>
        </div>
      </div>

      <div id="answer-<%= answer.id %>">
        <p><%= answer.text %></p>
        <p class="indent">- <%= answer.user.name %></p>
      </div>

      <% answer.comments.each do |comment| %>
        <div id="vote-comment-<%= comment.id %>" class='vote'>
          <p><%= comment.count_votes %></p>

          <div class="vote-wrapper">
            <div class="up-vote"></div>
            <div class="down-vote"></div>
          </div>
        </div>

        <div id="comment-<%= comment.id %>" class="comment">
          <p><%= comment.text %></p>
          <p class="indent">- <%= comment.user.name %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


