<div id="question-wrapper">

  <div id="vote-question-<%= @question.id %>" class='vote'>
    <p><%= @question.count_votes %></p>
    <div class="vote-wrapper">
      <div class="up-vote"></div>
      <div class="down-vote"></div>
    </div>
  </div>

  <div id="question-<%= @question.id %>">
    <h1><%= @question.title %></h1>
    <h3 class="indent"><%= @question.text %></h3>
    <h5 class="indent">- <%= @question.user.name %></h5>
  </div>

  <% @question.comments.each do |comment|%>
    <div id="vote-comment-<%= comment.id %>" class='vote'>
      <p><%= comment.count_votes %></p>

      <div class="vote-wrapper">
        <div class="up-vote"></div>
        <div class="down-vote"></div>
      </div>
    </div>

    <div id="comment-<%= comment.id %>" class="comment">
      <p><%= comment.text %></p>
      <p class="indent">- <%= comment.user.name %></p>
    </div>
  <% end %>
  <hr>

  <% @answers.each do |answer| %>
    <div class="answer-wrapper">
      <div id="vote-answer-<%= answer.id %>" class='vote'>
        <p><%= answer.count_votes %></p>

        <div class="vote-wrapper">
          <div class="up-vote"></div>
          <div class="down-vote"></div>
        </div>
      </div>

      <div id="answer-<%= answer.id %>">
        <h2><%= answer.text %></h2>
        <h5 class="indent">- <%= answer.user.name %></h5>
      </div>

      <% answer.comments.each do |comment| %>
        <div id="vote-comment-<%= comment.id %>" class='vote'>
          <p><%= comment.count_votes %></p>

          <div class="vote-wrapper">
            <div class="up-vote"></div>
            <div class="down-vote"></div>
          </div>
        </div>

        <div id="comment-<%= comment.id %>" class="comment">
          <p><%= comment.text %></p>
          <p class="indent">- <%= comment.user.name %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div id="buttons">
  <form action="/questions/<%= @question.id %>/answers/new" method="GET">
    <input type="submit" value="Answer this question">
  </form>
</div>
